@media only screen and (max-width:1366px) {
	
}
@media only screen and (max-width:1199px) {
	.about-item {
		margin-bottom: 25px;
	}
	.para-space {
	    margin-bottom: 25px;
	}
}

@media only screen and (max-width:991px) {
	.separator-section {
		padding: 100px 0 0;
	}
	.separator-col img {
		margin-top: 0;
	}
	.sidebar-post ul li {
		margin-bottom: 40px;
	}
	.main-herader .navbar-expand-md .navbar-nav .nav-link {
		font-size: 13px;
		padding: 25px 3px
	}
	.dropdown-item {
		font-size: 13px;
	}
}




@media (min-width: 768px){




}








@media only screen and (max-width:767px) {
	.about-section .myy-2 {
    width: 100%;
    position: relative;
        top: -394px;
    margin: 0;
    padding: 0;
}
.contact-page-bh input {
    width: 100%;
    height: 40px;
    border: 1px solid #9e9e9ebf;
}
.contact-page-bh textarea {
    width: 100%;
border: 1px solid  #9e9e9ebf;}

.af-address-inner{    margin: 0px -51px!important;}
.form-area {
    padding: 5px 19px 51px!important;
    margin: 10px 0 37px!important;
    font-size: 3px;
}

.right-box {
margin: 0px !important;}

p.blog-short-content {
    margin-bottom: 10px !important;
    min-height: 100%;
    max-height: 100%;
}

.blog-section {
    padding: 40px 0 0px;
}
.course-col {
    margin-bottom: 21px;
    text-align: center;
}



.blog-section {
    padding: 50px 0 70px;
}
.course-item h4 {
    margin-top: 20px;
    max-height: 18px;
    min-height: 18px;

}

.course-area {
    padding: 42px 0 50px;
}
.formmm form textarea {
    padding: 0px 0px 0px 20px;
    overflow: auto;
    resize: vertical;
    height: 72px;
}
.formmm form {
    background: #6077ab85;
    margin-left: 31px;
    text-align: center;
    padding: 18px 67px 18px 67px;
    position: relative;
    color: #fff;
    width: 90%;
}

.formmm strong {
    font-size: 25px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #fff;
    margin: 0 0 6px;
}


#menu-top-menu {
	display: none;
}
	
	.center-767 {
		float: none;
		text-align: center !important;
	}
.navbar-expand-md .navbar-toggler {
    display: block;
	margin: 8px;
	    padding: 8px 0 8px;
}
.navbar-expand-md .navbar-collapse {
    
    position: relative;
    left: 0;
    top: 0;
}
	.main-herader .navbar-expand-md .navbar-nav .nav-link {
	    font-size: 14px;
	    padding: 8px 0px;
	    text-align: left;
	}
	.dropdown-item {
		font-size: 14px;
	}
	.collapse.show {
	    display: block;
	    height: 325px;
	    overflow-y: scroll;
	}
.navbar-dark .navbar-toggler {
    background: #7e8fb5;
    border-radius: 0;
	
}
	.course-item h4 {
		font-size: 18px;
	}
	.separator-section {
		padding: 100px 0 50px;
	}
	.separator-col {
		margin-bottom: 50px;
	}
	.section-title .title-style h2 {
		line-height: 36px;
	}
	.post-box {
		margin-bottom: 30px;
	}
	.slide__item {
		height: 78vh;
	}
	.features-col h4 {
	    font-size: 18px;
	    font-weight: 500;
	}
.menu-top-menu-container > ul li a {
    color: black;
    font-size: 9px;
}
}


@media only screen and (max-width:575px) {
	.center575 {
		float: none;
		text-align: center;
	}
	.header-topbar-col ul li {
		float: none;
		margin-right: 0;
	}
	.header-topbar-col {
		text-align: center;
		padding-top: 5px;
		padding-bottom: 0;
	}
	.social-link-group {
		text-align: center;
		padding-bottom: 5px;
	}
	
	.navbar-dark .navbar-brand {
		margin-left: 15px;
	}
	.main-herader .navbar-expand-md .navbar-nav .nav-link {
		margin-left: 20px;
	}
	@media only screen and (max-width: 575px)
responsive.css:146
.formmm form {
    padding: 18px 29px 18px 30px;
    margin: 0 12px 0;
}
   .formmm {
    width: 100%;
    left: 0!important;
    top: 0!important;
}

.main-slider-area {
    overflow: hidden;

}
.alphabet {
    position: relative;
    bottom: 466px!important;
    z-index: 99;
}
.formmm .wpcf7 {
    margin: -22px;*/
    padding: 0;
}
}

@media only screen and (max-width:480px) {

}

@media only screen and (max-width:420px) {
	.counter-col p {
		font-size: 16px;
	}
	.main-herader .navbar-brand img {
	width: 54px;
    margin: -14px 9px 0;
}
}

@media only screen and (mix-width:1024px)and (max-width:1366px){
.menu-top-menu-container > ul li {
    padding: 0 15px 0;
    color: black;
}}
